<div class="container-fluid">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <h4 class="title">Users</h4>
              <button class="btn btn-default btn-sm pull-right" (click)="openUserDialog(content)">Create User</button>
          </div>
          <div class="card-content">
              <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
          </div>
      </div>
  </div>
</div>

<app-adm-user-modal></app-adm-user-modal>