// .fa.fa-user-circle , .fa.fa-lock{
//   font-size: 30px;
// }

.card-content{
  .form-group{
    width: 75%;

    input {
      border: 0;
      background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
      background-size: 0 2px, 100% 1px;
      background-repeat: no-repeat;
      background-position: center bottom, center calc(100% - 1px);
      background-color: transparent;
      transition: background 0s ease-out;
      float: none;
      box-shadow: none;
      border-radius: 0;
      font-weight: 400;
      height: 36px;
      padding: 7px 0;
      font-size: 14px;
      line-height: 1.42857;
    }

    input:focus{
      outline: none;
      background-image: linear-gradient(#c2ef92, #347507), linear-gradient(#65C109, #64BF09);
      background-size: 100% 2px, 100% 1px;
      box-shadow: none;
      transition-duration: 0.3s;
    }
  }

  

  .input-group-addon {
    border: 0;
    background: transparent;
    padding: 6px 15px 0px;

    i{
      width: 25px;
    }

    .fa-unlock-alt{
      margin-left: 6px;
      margin-right: -6px;
      font-size: 37px;
      margin-top: -2px;
    }
  }
}

.col-md-offset-4 {
  margin-left: 33.33333333%;
}

.logo {

  padding: 30px;
  text-align: center;
  
  .navbar-brand {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 0px 1px #8a8a8a;
    color: #4ab2f5;
    float: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

}