<div class="sidebar scroll-outer" data-color="green" data-image="assets/img/sidebar-1.jpg">

  <div class="sidebar-wrapper scroll-inner">
    <ul class="nav">
      <li>
        <a [routerLink]="['groups']" routerLinkActive="active">
          <i class="fa fa-briefcase"></i>Groups</a>
      </li>

      <li>
        <a [routerLink]="['users']" routerLinkActive="active">
          <i class="fa fa-credit-card"></i>Users</a>
      </li>
      <li>
        <a [routerLink]="['organizations']" routerLinkActive="active">
          <i class="fa fa-bookmark"></i>Organizations</a>
      </li>
      <li>
        <a [routerLink]="['locations']" routerLinkActive="active">
          <i class="fa fa-users"></i>Locations</a>
      </li>
      <li>
        <a [routerLink]="['departments']" routerLinkActive="active">
          <i class="fa fa-usd"></i>Departments</a>
      </li>
      <li>
        <a [routerLink]="['roles']" routerLinkActive="active">
          <i class="fa fa-file"></i>Roles</a>
      </li>
    </ul>
  </div>
</div>