.sidebar {
    max-width: 250px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42);
    
    .sidebar-wrapper {
        position: relative;
        height: calc(100vh - 75px);
        width: 260px;
        z-index: 4;

        .nav {
            li {
                width: 100%;

                &:hover{
                    a {
                        background: rgba(200, 200, 200, 0.2);
                        color: #3C4858;
                    }
                }

                a {
                    position: relative;
                    display: block;
                    padding: 10px 15px;
                    transition: all 300ms linear;
                    margin: 10px 15px;
                    border-radius: 3px;
                    color: #3C4858;

                    &.active {
                        background-color: #5cbeff;
                        box-shadow: none;
                    }

                    i {
                        margin-right: 5px;
                    }
                }           
            }
        }
    }
}